/*===АНИМАЦИЯ СТРЕЛОК===*/

:root {
  --line-width: 340px;
}

@media (max-width: 1199px) {
  :root {
    --line-width: 270px;
  }
}

@media (max-width: 991px) {
  :root {
    --line-width: 200px;
  }
}

@media (max-width: 767px) {
  :root {
    --line-width: 0px;
  }
}

.features-card:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 60px;
  width: 0;
  height: 1px;
  background-color: var(--color-accent);
  transform-origin: left center;
  animation: drawLine 0.5s ease forwards;
}

.features-card:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 26px;
  left: calc(60px + var(--line-width) - 8px);
  width: 8px;
  height: 8px;
  border-top: 2px solid var(--color-accent);
  border-right: 2px solid var(--color-accent);
  transform: rotate(45deg);
  opacity: 0;
  animation: showArrow 0.5s ease forwards;
}

@keyframes drawLine {
  to {
    width: var(--line-width);
  }
}

@keyframes showArrow {
  to {
    opacity: 1;
  }
}

.features-card:nth-child(1)::after {
  animation-delay: 0.3s;
}
.features-card:nth-child(1)::before {
  animation-delay: 0.8s;
}

.features-card:nth-child(2)::after {
  animation-delay: 1.1s;
}
.features-card:nth-child(2)::before {
  animation-delay: 1.6s;
}

@media (max-width: 767px) {
  :root {
    --line-width: 0px;
  }

  .features-card::after,
  .features-card::before {
    display: none;
  }
}

/*==========*/