@media (width > 767px) {
  .features__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    gap: 40px;
  }
}

@media (width <= 767px) {
  .features__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    gap: 30px;
  }

  .features__label {
    text-align: center;
  }

  .features__title {
    padding-inline: 10%;
    text-align: center;
  }
}

.features__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width > 767px) {
  .features__content {
    max-width: 47%;
  }

  .features__btn {
    align-self: flex-start;
  }
}

@media (width <= 767px) {
  .features__content {
    max-width: 70%;
    align-items: center;
  }

  .features__text {
    text-align: center;
  }

  .features__btn {
    align-self: center;
  }
}

@media (width >= 767px) {
  .features__cards {
    display: flex;
    justify-content: space-between;
    gap: 70px;
  }
}

@media (width < 767px) {
  .features__cards {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    gap: 50px;
    margin-inline: auto;
  }
}

.features-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* min-width:575px, max-width:1440px */
  gap: clamp(15px, 0.369rem + 2.42vw, 35px);
}

@media (width < 767px) {
  .features-card {
    align-items: center;
    padding-inline: 15%;
  }
}

@media (width >= 767px) {
  .features-icon {
    width: 60px;
  }
}

@media (width < 767px) {
  .features-icon {
    width: 45px;
  }
}

.features-card__title {
  font-family: var(--font-heading);
  font-weight: 500;
  /* min-width:575px, max-width:1440px */
  font-size: clamp(18px, 0.784rem + 1.45vw, 30px);
  letter-spacing: -0.01em;
  /* min-width:575px, max-width:1440px */
  line-height: clamp(22px, 1.148rem + 0.97vw, 30px);
}

@media (width < 767px) {
  .features-card__title {
    text-align: center;
  }
}

.features-card__text {
  margin-top: auto;
}

@media (width < 767px) {
  .features-card__text {
    text-align: center;
  }
}

/*===АНИМАЦИЯ СТРЕЛОК===*/

:root {
  --line-width: 340px;
}

@media (max-width: 1199px) {
  :root {
    --line-width: 270px;
  }
}

@media (max-width: 991px) {
  :root {
    --line-width: 200px;
  }
}

@media (max-width: 767px) {
  :root {
    --line-width: 0px;
  }
}

.features-card:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 60px;
  width: 0;
  height: 1px;
  background-color: var(--color-accent);
  transform-origin: left center;
  animation: drawLine 0.5s ease forwards;
}

.features-card:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 26px;
  left: calc(60px + var(--line-width) - 8px);
  width: 8px;
  height: 8px;
  border-top: 2px solid var(--color-accent);
  border-right: 2px solid var(--color-accent);
  transform: rotate(45deg);
  opacity: 0;
  animation: showArrow 0.5s ease forwards;
}

@keyframes drawLine {
  to {
    width: var(--line-width);
  }
}

@keyframes showArrow {
  to {
    opacity: 1;
  }
}

.features-card:nth-child(1)::after {
  animation-delay: 0.3s;
}
.features-card:nth-child(1)::before {
  animation-delay: 0.8s;
}

.features-card:nth-child(2)::after {
  animation-delay: 1.1s;
}
.features-card:nth-child(2)::before {
  animation-delay: 1.6s;
}

@media (max-width: 767px) {
  :root {
    --line-width: 0px;
  }

  .features-card::after,
  .features-card::before {
    display: none;
  }
}

/*==========*/
